@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1000px;
    flex-shrink: 0;
  }

  .card {
    width: 150px;
    height: 225px;
    flex-direction: column;
    justify-content: center;
  }

  .name {
    margin: 0;
  }

  .separator {
    display: none;
  }
}

.container {
  margin: 0 auto;
}

.separator {
  margin: 0.5em 5em;
  border: solid 1px var(--primary-dark); 
}

.card {
  margin: 0.5em;
  padding: 0.5em;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card[data-extension="PR"] {
  background-color: #00aa00;
}

.card[data-extension="DI"] {
  background-color: #aa0000;
}

.card[data-extension="DR"] {
  background-color: #0000aa;
}

.card[data-extension="AP"] {
  background-color: #600060;
}

.card[data-extension="DA"] {
  background-color: #213d3d;
}

.cost {
  color: black;
  font-size: 1.5em;
  background-color: yellow;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  font-family: serif;
}

.name {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 0 1em;
}
