

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 1em;
  color: white;
  background-color: var(--primary);
  border-bottom: 2px solid var(--primary-dark);
}

.drawButton {
  background-color: var(--secondary);
  color: darkslategray;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid darkslategray;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.extLabel {
  display: flex;
  margin: 0.5rem;
}

.extCheckbox {
  margin-right: 0.25rem;
}

@media (min-width: 1000px) {
  .checkboxContainer {
    flex-direction: row;
  }
}