:root {
  --primary: #a8bcdc;
  --primary-dark: #5c6779;
  --primary-light: #f6f8fc;
  --secondary: #dcc8a8;
}

body {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1rem;
}
