.container {
  align-self: center;
  background-color: var(--primary);
  font-size: large;
  color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  border-radius: 10px;
  padding: 0 1rem;
}
